  <div class="container">
      <mat-grid-list cols="2" rowHeight="2:1">
          <div class="col s12 m4" *ngFor="let product of userProducts; let i = index;">
              <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="{{userProductImages.main_images[i].link.href}}" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button (click)="addProductToCart(product.id)">Add to Cart</button>
                  </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-list>
        <!-- <mat-list>
            <mat-list-item *ngFor="let product of userProducts; let i = index;">
              <img matListAvatar src="{{userProductImages.main_images[i].link.href}}" alt="...">
              <h3 matLine> {{product.name}} </h3>
              <p matLine>
                <span class="demo-2">{{product.description}} </span>
              </p>
            </mat-list-item>
          </mat-list> -->
    </div>