
<div class="container">
  <div class="row">
      <form class="col s12" (ngSubmit)="submitUser()">
        <div class="row">
          <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" [(ngModel)]="customerAddress.first_name" name="first_name">
              <label for="first_name">First Name</label>
            </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" [(ngModel)]="customerAddress.last_name" name="last_name">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <input id="line_1" type="text" class="validate" [(ngModel)]="customerAddress.line_1" name="line_1">
            <label for="line_1">Address</label>
          </div>
            <div class="input-field col s3">
              <input id="line_2" type="text" class="validate" [(ngModel)]="customerAddress.line_2" name="line_2">
              <label for="line_2">City</label>
            </div>
            <div class="input-field col s3">
                <input id="county" type="text" class="validate" [(ngModel)]="customerAddress.county" name="county">
                <label for="county">State</label>
              </div>
              <div class="input-field col s3">
                  <input id="postcode" type="text" class="validate" [(ngModel)]="customerAddress.postcode" name="postcode">
                  <label for="line_2">postcode</label>
                </div>
          </div>
          <div class="row">
              <div class="input-field col s4">
                <input id="county" type="text" class="validate" [(ngModel)]="customerAddress.county" name="county">
                <label for="county">State</label>
              </div>
                <div class="input-field col s4">
                  <input id="postcode" type="text" class="validate" [(ngModel)]="customerAddress.postcode" name="postcode">
                  <label for="line_2">postcode</label>
                </div>
                <!-- <div class="input-field col s4">
                    <input value="country" id="country" type="text" class="validate" [(ngModel)]="country" name="country">
                    <label for="line_2">Country</label>
                  </div> -->
                  <div class="col s4">
                      <label for="">Select country</label>
                      <select class="browser-default" [(ngModel)]="customerAddress.country" name="country">
                        <option value="" disabled selected>Choose your country</option>
                        <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
                      </select>
                    </div>
              </div>
              <button class="btn waves-effect waves-light">Submit
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </button>
      </form>

    </div>
  </div>