<div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">
  <div class="row">
      <form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest">
          <div class="useShipping">
              <mat-slide-toggle [checked]="isBillingChecked" name="slideToggle" (change)="onChange($event)" >Ship to Billing Address?</mat-slide-toggle>
          </div>
        <div class="row" id="billingAddress">
          <h1>Billing Address</h1>
          <table>
            <tr class="fourths">
              <td>
                  <mat-form-field>
                    <input matInput id="first_name" type="text" formControlName="billingAddressFirstname" name="first_name" placeholder="First name">
                  </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput id="last_name" type="text" formControlName="billingAddressLastname" name="last_name" placeholder="Last name">
                      </mat-form-field>
                </td>
            </tr>
          </table>
          <mat-form-field class="thirds">
              <input matInput id="email" type="email" formControlName="customerEmail" name="email" placeholder="Email">
            </mat-form-field>

          <mat-form-field class="thirds">
            <input matInput id="line_1" type="text" formControlName="billingAddressLine1" name="line_1" placeholder="Street Address">
          </mat-form-field>
          <mat-form-field class="thirds">
              <input matInput id="line_2" type="text" formControlName="billingAddressLine2" name="line_2" placeholder="Street Address Line 2">
            </mat-form-field>
          <table>
            <tr class="fourths">
              <td>
                  <mat-form-field class="example-full-width">
                    <input matInput id="city" type="text" class=" thirds" formControlName="billingAddressCity" name="city" placeholder="City">
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="example-full-width">
                      <input matInput id="county" type="text" class="thirds" formControlName="billingAddressCounty" name="county" placeholder="State/Province">
                    </mat-form-field>
              </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput id="postcode" type="text" class="thirds" formControlName="billingAddressPostcode" name="postcode" placeholder="Postal/Zip Code">
                      </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-select placeholder="Choose your Country" formControlName="billingAddressCountry" name="country">
                          <mat-option *ngFor="let country of countries" [value]="country">
                            {{ country }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>
          </table>
        </div>

        <div id="shippingAddress" *ngIf="!isBillingChecked">
          <h1>Shipping Address</h1>
          <table>
              <tr class="fourths">
                <td>
                    <mat-form-field>
                      <input matInput id="first_name" type="text" formControlName="shippingAddressFirstname" name="first_name" placeholder="First name">
                    </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field>
                          <input matInput id="last_name" type="text" formControlName="shippingAddressLastname" name="last_name" placeholder="Last name">
                        </mat-form-field>
                  </td>
              </tr>
            </table>
  
            <mat-form-field class="thirds">
              <input matInput id="line_1" type="text" formControlName="shippingAddressLine1" name="line_1" placeholder="Street Address">
            </mat-form-field>
            <mat-form-field class="thirds">
                <input matInput id="line_2" type="text" formControlName="shippingAddressLine2" name="line_2" placeholder="Street Address Line 2">
              </mat-form-field>
            <table>
              <tr class="fourths">
                <td>
                    <mat-form-field class="example-full-width">
                      <input matInput id="city" type="text" class=" thirds" formControlName="shippingAddressCity" name="city" placeholder="City">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput id="county" type="text" class="thirds" formControlName="shippingAddressCounty" name="county" placeholder="State/Province">
                      </mat-form-field>
                </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field class="example-full-width">
                          <input matInput id="postcode" type="text" class="thirds" formControlName="shippingAddressPostcode" name="postcode" placeholder="Postal/Zip Code">
                        </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field>
                          <mat-select placeholder="Choose your Country" formControlName="shippingAddressCountry" name="country">
                            <mat-option *ngFor="let country of countries" [value]="country">
                              {{ country }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </td>
                  
              </tr>
            </table>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Instructions" formControlName="shippingAddressInstructions" name="instructions"></textarea>
              </mat-form-field>
        </div>
        <div id="card-element" class="field" #card></div>
        <button mat-raised-button color="accent">Submit</button>
      </form>

    </div>
  </div>
  